body {
    font-size: 0.9em;
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1.5em;
    text-decoration: underline;
}

h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

h4 {
    font-size: 15px
}