body {
    font-size: 0.95rem;
}

.fs-5 {
    font-size: 1, 1rem !important;
}

.btn {
    font-size: 0.95rem;

}

h4 {
    font-size: calc(1.1rem + .3vw);
}

input {
    font-size: 0.95rem;
}

.form-select {
    font-size: 0.95rem;
}

modal-title {
    font-size: 1, 1rem !important;
}